/* selectric */
.selectric-wrapper {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: .3125rem !important;
    height: 2.875rem
}

@media screen and (min-width: 1120px) {
    .selectric-wrapper {
        margin-top: .375rem !important;
        height: 3.125rem
    }
}

.selectric-responsive {
    width: 100%
}

.selectric {
    border: .0625rem solid #CCCCCB;
    border-radius: .125rem;
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 200ms
}

.selectric:hover {
    border: .0625rem solid #B2B5B7 !important;
    transition: all ease-in-out 100ms
}

.selectric-open .selectric {
    border: .0625rem solid #9A9EA4 !important;
    transition: all ease-in-out 100ms
}

.selectric .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 38px 0 10px;
    font-size: 1rem;
    line-height: 1.0625rem;
    color: #3B3E42;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.selectric .button:hover, .selectric .button:focus, .selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.70742 3.11085L10.1268 7.53026L11.1875 6.4696L5.70742 0.989527L0.227345 6.4696L1.28801 7.53026L5.70742 3.11085Z' fill='%236C7480'/%3E%3C/svg%3E%0A") center no-repeat;
    text-align: center;
    font: 0/0 a;
    transition: all ease-in-out 200ms;
    transform: scale(-1);
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
    border: none;
    margin: 0
}

.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top-color: #BBB;
    border-bottom: none
}

.selectric-open .button {
    transition: all ease-in-out 200ms;
    transform: scale(1)
}

.selectric-focus .selectric {
    border-color: #aaa
}

.selectric-hover .selectric {
    border-color: #c4c4c4
}

.selectric-hover .selectric .button {
    color: #a2a2a2
}

.selectric-hover .selectric .button:after {
    border-top-color: #a2a2a2
}

.selectric-open {
    z-index: 9999
}

.selectric-open .selectric {
    border-color: #c4c4c4
}

.selectric-open .selectric-items {
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0.3125rem);
    opacity: 1;
    transition: all ease-in-out 200ms;
    margin-bottom: .62rem
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0
}

.selectric-hide-select select {
    position: absolute;
    left: -100%
}

.selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10
}

.selectric-hide-select.selectric-is-native select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0
}

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important
}

.selectric-items {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    border-radius: .125rem;
    transform: translateY(2rem);
    opacity: 0;
    left: 0;
    background: #fff;
    border: 1px solid #c4c4c4;
    z-index: -1;
    transition: all ease-in-out 200ms
}

.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto
}

.selectric-above .selectric-items {
    top: auto;
    bottom: 100%
}

.selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px
}

.selectric-items li {
    display: block;
    padding: .875rem;
    color: #3B3E42;
    font-size: 1rem;
    line-height: 1.0625rem;
    cursor: pointer;
    transition: all ease-in-out 200ms
}

.selectric-items li.selected {
    background: #E0E0E0;
    color: #444;
    transition: all ease-in-out 100ms
}

.selectric-items li.highlighted {
    background: #fff;
    color: rgba(59, 62, 66, 0.3);
    transition: all ease-in-out 100ms
}

.selectric-items li.highlighted:hover {
    background: #F3F4F5;
    color: rgba(59, 62, 66, 0.3);
    transition: all ease-in-out 100ms
}

.selectric-items li:hover {
    background: #F3F4F5;
    transition: all ease-in-out 100ms
}

.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.selectric-items .selectric-group .selectric-group-label {
    font-weight: 700;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #444
}

.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1
}

.selectric-items .selectric-group li {
    padding-left: 25px
}
/* end selectric */

/* адаптивные изображения */
.img-mob,
.img-pad,
.img-desk {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
    .img-mob {
        visibility: visible;
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
    .img-pad {
        visibility: visible;
    }
}

@media (min-width: 1024px) {
    .img-desk {
        visibility: visible;
    }
}
/* адаптивные изображения - конец*/

@media (max-width: 1023px) {
    /* шапка под ios */
    .ios .header__tabs {
        padding-bottom: 24px;
    }
    .ios .header__top-wrap,
    .ios .header__profile,
    .ios .popup.login,
    .ios .header__search .search-hints {
        height: calc(100% - 132px);
    }

    .ios .login__body {
        height: calc(100vh - 132px);
    }
}